<link href="{{site.baseurl}}/pagefind/pagefind-ui.css" rel="stylesheet">

<style>
	.pagefind-ui__result-title {color: #d9230f;}
	.pagefind-ui__result-url {color: silver;}
	.pagefind-ui__result a {display: block; color: #777;}
	.pagefind-ui__result a:hover, .pagefind-ui__result a:focus {text-decoration: none;}
	.pagefind-ui__result a:hover .pagefind-ui__result-title {text-decoration: underline;}
</style>


<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

<script src="{{site.baseurl}}/pagefind/pagefind-ui.js"></script>