---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
/* 入力欄スタイル */
.contact-form {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff; /* テーマに合わせた背景色 */
  border: 1px solid #ddd; /* ボーダースタイル */
  padding: 20px;
  border-radius: 8px; /* 角を丸くする */
}

.contact-form input,
.contact-form textarea {
  width: 180%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* ボタンスタイル */
.contact-form button {
  display: block; /* ボタンをブロック要素として扱う */
  margin: 20px auto 0; /* 上下の中央配置 */
  background-color: #007bff; /* ボタンの背景色 */
  color: #fff; /* テキスト色 */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* ホバー時のボタン */
.contact-form button:hover {
  background-color: #0056b3; /* ホバー時の色変更 */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .contact-form input,
  .contact-form textarea {
    width: 100%; /* モバイルデバイスでは横幅を100%に変更 */
  }
  
  .contact-form button {
    width: auto; /* ボタンの幅を自動調整 */
  }
}

/* プロフィール画像 */
.profile-wrapper {
  background-color: transparent; /* 背景透過 */
  padding: 20px;
}

.profile-pic {
  width: 150px;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
}